@font-face {
  font-family: "Gelion Light";
  src: url("./assets//fonts/gelion/Gelion-Light.woff") format("opentype");
}

@font-face {
  font-family: "Gelion Regular";
  src: url("./assets/fonts/gelion/Gelion-Regular.woff");
}

@font-face {
  font-family: "Gelion Bold";
  src: url("./assets//fonts/gelion/Gelion-Bold.woff");
}
